.class
.*.swp
target/*
/**/target
/**/**/target
dist/*
logs/*
out/*
build/*
*.iml
*/*.iml
*.bak
tags
*.log
/logs/*
/transaction-logs/*
node_modules/*
.ve
.*.swp
static/media/*
logs/*
site-static/*
static/assets/*
*.db
*~
*.bak
*.orig
tags
*.log
.tox/
.idea/
*.out
etc/config
*.iml
.DS_Store
.classpath
.project
/**/*.settings/*
/.mvn/*
mvnw
mvnw.cmd
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
